%if 0
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
%endif

:root[lwthemeicons~="--back-icon"] #back-button:-moz-lwtheme {
  list-style-image: var(--back-icon) !important;
}

:root[lwthemeicons~="--forward-icon"] #forward-button:-moz-lwtheme {
  list-style-image: var(--forward-icon) !important;
}

:root[lwthemeicons~="--reload-icon"] #reload-button:-moz-lwtheme {
  list-style-image: var(--reload-icon) !important;
}

:root[lwthemeicons~="--stop-icon"] #stop-button:-moz-lwtheme {
  list-style-image: var(--stop-icon) !important;
}

%ifdef MOZ_PHOTON_THEME
:root[lwthemeicons~="--bookmark_star-icon"] #star-button:-moz-lwtheme,
%endif
:root[lwthemeicons~="--bookmark_star-icon"] #bookmarks-menu-button:-moz-lwtheme {
  list-style-image: var(--bookmark_star-icon) !important;
}

%ifdef MOZ_PHOTON_THEME
:root[lwthemeicons~="--bookmark_menu-icon"] #bookmarks-menu-button:-moz-lwtheme,
%endif
:root[lwthemeicons~="--bookmark_menu-icon"] #bookmarks-menu-button[cui-areatype='toolbar'] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon:-moz-lwtheme {
  list-style-image: var(--bookmark_menu-icon) !important;
}

:root[lwthemeicons~="--downloads-icon"] #downloads-button:-moz-lwtheme {
  list-style-image: var(--downloads-icon) !important;
}

:root[lwthemeicons~="--home-icon"] #home-button:-moz-lwtheme {
  list-style-image: var(--home-icon) !important;
}

:root[lwthemeicons~="--app_menu-icon"] #PanelUI-menu-button:-moz-lwtheme {
  list-style-image: var(--app_menu-icon) !important;
}

:root[lwthemeicons~="--cut-icon"] #cut-button:-moz-lwtheme {
  list-style-image: var(--cut-icon) !important;
}

:root[lwthemeicons~="--copy-icon"] #copy-button:-moz-lwtheme {
  list-style-image: var(--copy-icon) !important;
}

:root[lwthemeicons~="--paste-icon"] #paste-button:-moz-lwtheme {
  list-style-image: var(--paste-icon) !important;
}

:root[lwthemeicons~="--new_window-icon"] #new-window-button:-moz-lwtheme {
  list-style-image: var(--new_window-icon) !important;
}

:root[lwthemeicons~="--new_private_window-icon"] #privatebrowsing-button:-moz-lwtheme {
  list-style-image: var(--new_private_window-icon) !important;
}

:root[lwthemeicons~="--save_page-icon"] #save-page-button:-moz-lwtheme {
  list-style-image: var(--save_page-icon) !important;
}

:root[lwthemeicons~="--print-icon"] #print-button:-moz-lwtheme {
  list-style-image: var(--print-icon) !important;
}

:root[lwthemeicons~="--history-icon"] #history-panelmenu:-moz-lwtheme {
  list-style-image: var(--history-icon) !important;
}

:root[lwthemeicons~="--full_screen-icon"] #fullscreen-button:-moz-lwtheme {
  list-style-image: var(--full_screen-icon) !important;
}

:root[lwthemeicons~="--find-icon"] #find-button:-moz-lwtheme {
  list-style-image: var(--find-icon) !important;
}

:root[lwthemeicons~="--options-icon"] #preferences-button:-moz-lwtheme {
  list-style-image: var(--options-icon) !important;
}

:root[lwthemeicons~="--addons-icon"] #add-ons-button:-moz-lwtheme {
  list-style-image: var(--addons-icon) !important;
}

:root[lwthemeicons~="--developer-icon"] #developer-button:-moz-lwtheme {
  list-style-image: var(--developer-icon) !important;
}

:root[lwthemeicons~="--synced_tabs-icon"] #sync-button:-moz-lwtheme {
  list-style-image: var(--synced_tabs-icon) !important;
}

:root[lwthemeicons~="--open_file-icon"] #open-file-button:-moz-lwtheme {
  list-style-image: var(--open_file-icon) !important;
}

:root[lwthemeicons~="--sidebars-icon"] #sidebar-button:-moz-lwtheme {
  list-style-image: var(--sidebars-icon) !important;
}

:root[lwthemeicons~="--subscribe-icon"] #feed-button:-moz-lwtheme {
  list-style-image: var(--subscribe-icon) !important;
}

:root[lwthemeicons~="--text_encoding-icon"] #characterencoding-button:-moz-lwtheme {
  list-style-image: var(--text_encoding-icon) !important;
}

:root[lwthemeicons~="--email_link-icon"] #email-link-button:-moz-lwtheme {
  list-style-image: var(--email_link-icon) !important;
}

:root[lwthemeicons~="--forget-icon"] #panic-button:-moz-lwtheme {
  list-style-image: var(--forget-icon) !important;
}


%ifdef MOZ_PHOTON_THEME
:root[lwthemeicons~="--bookmark_star-icon"] #star-button:-moz-lwtheme,
:root[lwthemeicons~="--bookmark_menu-icon"] #bookmarks-menu-button:-moz-lwtheme,
%endif
:root[lwthemeicons~="--back-icon"] #back-button:-moz-lwtheme,
:root[lwthemeicons~="--forward-icon"] #forward-button:-moz-lwtheme,
:root[lwthemeicons~="--reload-icon"] #reload-button:-moz-lwtheme,
:root[lwthemeicons~="--stop-icon"] #stop-button:-moz-lwtheme,
:root[lwthemeicons~="--bookmark_star-icon"] #bookmarks-menu-button:-moz-lwtheme,
:root[lwthemeicons~="--bookmark_menu-icon"] #bookmarks-menu-button[cui-areatype='toolbar'] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon:-moz-lwtheme,
:root[lwthemeicons~="--downloads-icon"] #downloads-button:-moz-lwtheme,
:root[lwthemeicons~="--home-icon"] #home-button:-moz-lwtheme,
:root[lwthemeicons~="--app_menu-icon"] #PanelUI-menu-button:-moz-lwtheme,
:root[lwthemeicons~="--cut-icon"] #cut-button:-moz-lwtheme,
:root[lwthemeicons~="--copy-icon"] #copy-button:-moz-lwtheme,
:root[lwthemeicons~="--paste-icon"] #paste-button:-moz-lwtheme,
:root[lwthemeicons~="--new_window-icon"] #new-window-button:-moz-lwtheme,
:root[lwthemeicons~="--new_private_window-icon"] #privatebrowsing-button:-moz-lwtheme,
:root[lwthemeicons~="--save_page-icon"] #save-page-button:-moz-lwtheme,
:root[lwthemeicons~="--print-icon"] #print-button:-moz-lwtheme,
:root[lwthemeicons~="--history-icon"] #history-panelmenu:-moz-lwtheme,
:root[lwthemeicons~="--full_screen-icon"] #fullscreen-button:-moz-lwtheme,
:root[lwthemeicons~="--find-icon"] #find-button:-moz-lwtheme,
:root[lwthemeicons~="--options-icon"] #preferences-button:-moz-lwtheme,
:root[lwthemeicons~="--addons-icon"] #add-ons-button:-moz-lwtheme,
:root[lwthemeicons~="--developer-icon"] #developer-button:-moz-lwtheme,
:root[lwthemeicons~="--synced_tabs-icon"] #sync-button:-moz-lwtheme,
:root[lwthemeicons~="--open_file-icon"] #open-file-button:-moz-lwtheme,
:root[lwthemeicons~="--sidebars-icon"] #sidebar-button:-moz-lwtheme,
:root[lwthemeicons~="--subscribe-icon"] #feed-button:-moz-lwtheme,
:root[lwthemeicons~="--text_encoding-icon"] #characterencoding-button:-moz-lwtheme,
:root[lwthemeicons~="--email_link-icon"] #email-link-button:-moz-lwtheme,
:root[lwthemeicons~="--forget-icon"] #panic-button:-moz-lwtheme,

%ifndef MOZ_PHOTON_THEME
:root[lwthemeicons~="--reload-icon"] #urlbar > #reload-button:-moz-lwtheme,
:root[lwthemeicons~="--stop-icon"] #urlbar > #stop-button:-moz-lwtheme {
  -moz-image-region: rect(0, 14px, 14px, 0) !important;
}
%endif
