/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#xpinstallheader {
  margin-bottom: 2em;
}

#itemList {
  -moz-appearance: listbox;
  margin: 3px 4px 10px 4px;
  height: 14em;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

#itemWarningIntro {
  margin-inline-start: 8px;
}

#dialogContentBox {
  padding: 5px;
}

installitem {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-inline-start: 5px;
  padding-inline-end: 0;
  border-bottom: 1px dotted #C0C0C0;
  margin-bottom: 5px;
}

.alert-icon {
%ifdef XP_WIN
  list-style-image: url("chrome://global/skin/icons/warning-large.png");
  width: 48px;
  height: 48px;
%endif
  margin-inline-end: 20px;
}

.warning {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 1em;
}

.xpinstallIconContainer {
  width: 32px;
  height: 32px;
  margin-inline-end: 5px;
}

.xpinstallItemName {
  font-weight: bold;
}

.xpinstallItemURL {
  -moz-appearance: none;
  border: none;
  padding: 0;
  background-color: -moz-Field;
  color: -moz-FieldText;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-inline-start: 6px;
  margin-inline-end: 5px;
}

.xpinstallItemIcon {
  max-width: 32px;
  max-height: 32px;
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.svg");
}

installitem[type="theme"] .xpinstallItemIcon {
  list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric.png");
}

installitem[type="locale"] .xpinstallItemIcon {
  list-style-image: url("chrome://mozapps/skin/extensions/localeGeneric.png");
}

installitem[type="plugin"] .xpinstallItemIcon {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric.png");
}

installitem[type="dictionary"] .xpinstallItemIcon {
  list-style-image: url("chrome://mozapps/skin/extensions/dictionaryGeneric.png");
}
